In [1]:
import json
from time import sleep
import requests
import lxml
from bs4 import BeautifulSoup
from selenium import webdriver
import sqlite3 as lite
import pandas as pd
from pymongo import MongoClient

Q1-1

Q1-2

In [ ]:
driver=webdriver.Chrome("C://Users/minji hong/chromedriver/chromedriver.exe")
driver.get("https://twitter.com/search?q=%23asiancup)%EB%A5%BC")
driver.implicitly_wait(3)

#Q2-1
products.db에 존재하는 모든 table과 column을 조회하세요.

In [2]:
db= lite.connect('./products.db')
query="""SELECT *FROM sqlite_master
;""" 
pd.read_sql(query,db)

,type,name,tbl_name,rootpage,sql
0,table,Categories,Categories,2,"CREATE TABLE Categories(\n ""CategoryID"" TEXT,..."
1,table,Customers,Customers,3,"CREATE TABLE Customers(\n ""CustomerID"" TEXT,\..."
2,table,Employees,Employees,6,"CREATE TABLE Employees(\n ""EmployeeID"" TEXT,\..."
3,table,Shippers,Shippers,15,"CREATE TABLE Shippers(\n ""ShipperID"" TEXT,\n ..."
4,table,Suppliers,Suppliers,16,"CREATE TABLE Suppliers(\n ""SupplierID"" TEXT,\..."
5,table,Orders,Orders,11,"CREATE TABLE Orders(\nOrderID integer,\nCustom..."
6,table,OrderDetails,OrderDetails,7,CREATE TABLE OrderDetails(\nOrderDetailID inte...
7,table,Products,Products,14,"CREATE TABLE Products(\nProductID integer,\nPr..."
8,table,assignment,assignment,8,"CREATE TABLE assignment ( 'SupplierID',""City"",..."


Q2-2
Customer의 Country가 "Germany" 이거나 City가 "London" 인 모든 주문의 주문양(Quantity)의 합을 조회하세요.

In [8]:
query="""
SELECT Quantity

FROM OrderDetails

WHERE
OrderID IN
(SELECT OrderID
FROM Orders
WHERE
    CustomerID IN(SELECT CustomerID
    FROM Customers
    Where Country =='Germany' OR City == 'London'))
;
"""
pd.read_sql(query,db)

    Quantity
0         50
1         70
2         15
3         24
4         15
5         20
6         60
7         33
8         20
9         12
10        15
11        15
12        21
13        20
14         5
15        45
16        40
17        36
18       100
19        40
20        30
21         9
22        10
23        20
24         4
25        24
26        20
27        10
28        12
29         5
..       ...
67        30
68         5
69        20
70        20
71        20
72        15
73        20
74        15
75        20
76        40
77        18
78        40
79        60
80        21
81        21
82        35
83        30
84        30
85        15
86        15
87        60
88        55
89        16
90        15
91        10
92        12
93        10
94        15
95        20
96        15

[97 rows x 1 columns]

Q2-3¶
월별 총 주문 횟수와 총 주문 갯수, 평균 주문 금액(소수점 2째 자리에서 반올림)을 조회하세요. (총 주문 횟수를 기준으로 내림차순 정렬)

In [29]:
query = """
SELECT  substr(O.OrderDate,1,7)'MONTH',ProductID,Quantity

FROM
    OrderDetails D
    JOIN
        Orders O
        ON
            O.OrderID = D.OrderID
GROUP BY
        substr(O.OrderDate,1,7)
;
"""
pd.read_sql(query, db).head()

     MONTH  ProductID  Quantity
0  1996-07         72        20
1  1996-08         75         6
2  1996-09          1        20
3  1996-10         76        15
4  1996-11         64        35

In [17]:
#### 주문 금액 Product 테이블에서 금액을 가져오되 product ID를 기준으로 할것

query="""
SELECT ProductID,ProductName,Price
FROM Products
WHERE ProductID IN
(SELECT ProductID
FROM OrderDetails)

"""
pd.read_sql(query,db)

    ProductID                       ProductName   Price
0           1                             Chais   18.00
1           2                             Chang   19.00
2           3                     Aniseed Syrup   10.00
3           4      Chef Anton's Cajun Seasoning   22.00
4           5            Chef Anton's Gumbo Mix   21.35
5           6      Grandma's Boysenberry Spread   25.00
6           7   Uncle Bob's Organic Dried Pears   30.00
7           8        Northwoods Cranberry Sauce   40.00
8           9                   Mishi Kobe Niku   97.00
9          10                             Ikura   31.00
10         11                    Queso Cabrales   21.00
11         12         Queso Manchego La Pastora   38.00
12         13                             Konbu    6.00
13         14                              Tofu   23.25
14         15                      Genen Shouyu   15.50
15         16                           Pavlova   17.45
16         17                      Alice Mutton   39.00
17         18                  Carnarvon Tigers   62.50
18         19        Teatime Chocolate Biscuits    9.20
19         20            Sir Rodney's Marmalade   81.00
20         21               Sir Rodney's Scones   10.00
21         22               Gustaf's Knäckebröd   21.00
22         23                          Tunnbröd    9.00
23         24                Guaraná Fantástica    4.50
24         25           NuNuCa Nuß-Nougat-Creme   14.00
25         26               Gumbär Gummibärchen   31.23
26         27                Schoggi Schokolade   43.90
27         28                 Rössle Sauerkraut   45.60
28         29           Thüringer Rostbratwurst  123.79
29         30             Nord-Ost Matjeshering   25.89
..        ...                               ...     ...
47         48                         Chocolade   12.75
48         49                          Maxilaku   20.00
49         50                  Valkoinen suklaa   16.25
50         51             Manjimup Dried Apples   53.00
51         52                          Filo Mix    7.00
52         53                     Perth Pasties   32.80
53         54                         Tourtière    7.45
54         55                      Pâté chinois   24.00
55         56            Gnocchi di nonna Alice   38.00
56         57                    Ravioli Angelo   19.50
57         58            Escargots de Bourgogne   13.25
58         59              Raclette Courdavault   55.00
59         60                 Camembert Pierrot   34.00
60         61                    Sirop d'érable   28.50
61         62                    Tarte au sucre   49.30
62         63                      Vegie-spread   43.90
63         64         Wimmers gute Semmelknödel   33.25
64         65  Louisiana Fiery Hot Pepper Sauce   21.05
65         66         Louisiana Hot Spiced Okra   17.00
66         67         Laughing Lumberjack Lager   14.00
67         68               Scottish Longbreads   12.50
68         69                  Gudbrandsdalsost   36.00
69         70                     Outback Lager   15.00
70         71                       Fløtemysost   21.50
71         72            Mozzarella di Giovanni   34.80
72         73                        Röd Kaviar   15.00
73         74                     Longlife Tofu   10.00
74         75              Rhönbräu Klosterbier    7.75
75         76                      Lakkalikööri   18.00
76         77   Original Frankfurter grüne Soße   13.00

[77 rows x 3 columns]

In [25]:

query = """
SELECT *

FROM
    OrderDetails D
    JOIN
        Products P
        ON
            P.ProductID = D.ProductID
;
"""
pd.read_sql(query, db).head()

,OrderDetailID,OrderID,ProductID,Quantity,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,1,10248,11,12,11,Queso Cabrales,5,4,1 kg pkg.,21.00
1,2,10248,42,10,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
2,3,10248,72,5,72,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
3,4,10249,14,9,14,Tofu,6,7,40 - 100 g pkgs.,23.25
4,5,10249,51,40,51,Manjimup Dried Apples,24,7,50 - 300 g pkgs.,53.00

In [ ]:
query = """
SELECT Quantity,ProductName,Price

FROM
    OrderDetails D
    JOIN
        Products P
        ON
            P.ProductID = D.ProductID
;
"""
pd.read_sql(query, db).head()

Q3-1¶
다음 금융 시가총액 페이지(http://finance.daum.net/domestic/market_cap) 에서 KOSPI200 상위 30개 종목에 대하여, 뉴스공시 탭의 종목뉴스 최신 100개를 가져와 mLab의 새로운 Collection을 생성하여 저장한 뒤, 모든 뉴스의 title, keywords, createdAt 값을 표현하세요

Q3-2¶
위(mLab Collection)에서 종목별 각 뉴스들의 키워드("code", "news")를 가져오세요.

Requirements: json, pymongo

Q3-3¶
불러온 quotes에 대하여 상위 30개 종목 별 keyword 리스트의 갯수를 구하세요. 그리고, 키워드 별 출현 갯수를 카운트하여 dictionary에 저장하여 보여주세요