In [3]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np


# Pandas
5.1 pandas data structure
    5.1.1 Series 
    5.1.2 DataFrame 
    5.1.3 Index 
5.2 main function 
    5.2.1 re-indexing 
    5.2.2 deleting one row or one coloumn 
    5.2.3 indexing, choosing,filtering 
    5.2.4 mathfunction, data arrray 
    5.2.5 function, mapping 
    5.2.6 array and rank 
    5.2.7 duplicate index 
5.3 Calculating and summary 
    5.3.1 covariance and 
    5.3.2 mutual relationship
5.4 dealing with the omited data 
    5.4.1 sorting the omited data 
    5.4.2 filling in the omited data 
5.5 heirachy index 
    5.5.1 changing heirachy index then array 
    5.5.2 summary statitics step by step 
    5.5.3 using the coloumn of data frame 
5.6 other topics related to pandas 
    5.6.1 integer index 
    5.6.2 panel data

5.1 pandas data structure
    5.1.1 Series 
    5.1.2 DataFrame 
    5.1.3 Index 
                                                                                                   refer from "python for data analysis"

# 5.1.1 Series
if you can see Pandas, you'd better know the 'Series' & ' DataFrame' in details.
In case of Series, it can be data fram which is sort of first- dimensional array.

In [4]:
obj= Series([4,7,-5,3])

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
obj[0]

4

In [9]:
obj2=Series([1,2,3,4],index=["a",'b','c','d'])

In [10]:
obj2

a    1
b    2
c    3
d    4
dtype: int64

In [14]:
obj2['b']

2

In [16]:
# Boolean array

obj2[obj2>2]
obj2*2

a    2
b    4
c    6
d    8
dtype: int64

In [23]:
# dictionary
'b' in obj2

True

In [24]:
'e' in obj2

False

In [25]:
sdata={'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [26]:
# creating the object of Series
# default index could be integer
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [28]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [29]:
# in case of that data could be 'dictionary', in that case, defaulted index could be set as inserted.
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

In [31]:
pd.isnull(obj3)

Ohio      False
Texas     False
Oregon    False
Utah      False
dtype: bool

In [32]:
pd.notnull(obj3)

Ohio      True
Texas     True
Oregon    True
Utah      True
dtype: bool

In [34]:
obj3.name='population'
obj3.index.name='state'
obj3

state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64

#  5.1.2 DataFrame
second dimensional array

In [35]:
area_dict={'california': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
area=pd.Series(area_dict)
area

california    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [36]:
population_dict={'california': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

california    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [37]:
# DataFrame can be consist of two object 
#refer to the example below, key could be 'area', 'population' (열 인덱스)
# common key value could be  행 인덱스
states=pd.DataFrame({'population':population, 'area':area})
states

            population    area
california    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [38]:
states.index

Index(['california', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [40]:
states.columns

Index(['population', 'area'], dtype='object')

In [41]:
states['population']

california    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [42]:
states['area']

california    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [45]:
# sole series as object of DataFrame

pd.DataFrame(population,columns=['population'])

            population
california    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [46]:
pd.DataFrame(population)

                   0
california  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [47]:
# dictionary's list as object of DataFrame

data=[{'a':i,'b':2*i}for i in range(3)]
display(data)

pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

   a  b
0  0  0
1  1  2
2  2  4

In [48]:
data ={'a':[1,2,3],'b':[4,5,6]}
display(data)
pd.DataFrame(data)

{'a': [1, 2, 3], 'b': [4, 5, 6]}

   a  b
0  1  4
1  2  5
2  3  6

In [49]:
# two series as object of DataFrame

print(type(population))
print(type(area))

pd.DataFrame({'population':population,'area':area})

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

            population    area
california    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [50]:
# the structured array of Numpy as the object

a= np.zeros(3)
display(a)

pd.DataFrame(a)

array([0., 0., 0.])

     0
0  0.0
1  0.0
2  0.0

In [51]:
# 딕셔너리의 일부 키가 누락되더라도 Padnas는 NaN 값으로 채운다. (Not A Number)
pd.DataFrame([{'a':1,'b':2,'c':3},{'b':4,'c':5}])

     a  b  c
0  1.0  2  3
1  NaN  4  5

# Index Object

index object is the object can be defined as the name of each row or column or the metadata of the others.
in case of 'Series' or 'DataFrame', inner index can be created.

In [52]:
obj = Series(range(3),index=['a','b','c'])
index=obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [53]:
index[1:]#slicing

Index(['b', 'c'], dtype='object')

In [54]:
index[::2]#slicing

Index(['a', 'c'], dtype='object')

In [55]:
index[1]='d'

TypeError: Index does not support mutable operations

In [58]:
index=pd.Index(np.arange(3))
obj2=Series([1.5,-2.5,0],index=index)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [59]:
obj2.index is index

True