# SQL

DATA-all the information can be seend by the computer
Data would be useable after processing the data.
Database is for all the sustemized data, which is just the perception.
DBMS is to dealing with systemizing the data means can do database such as sap,oracle,erp,mysql,mongodb,mariadb.
DATA base'features
why should the database be accumulated via DB?-minimalizing the duplicate and to do the safety
and enhancement of function also maintenenance could be better
INTEGRETY
for example, we got two files which have same contents & purpose but the location. but it's going to apply the same change to those. in case of using DB, there is no need to enter those files for the change.
SAFETY
for the safety, it can be limit for unknown user to access to the file but not save.any options, you can customize that.
the difference with file system and database
1.self-technicality
in case of file system, operating system sould be in need for access & revisie &save the file.
but DB, there is no need.


SQL is the programming language for managing the data
SQL is consist of definition, delete, changing the language.

1) access to the SQLite
2) creating the file(.open #file's name.db)
3) .databeses (you can see whether the file created or not)
4) create table( id, type of language ):
5) . table ( you can see the name of table)
6) . schema (you can see the status of table)
7) . DROP TABLE # the name of table supposed to be deleted
8) . ALTER TABLE #the name of table supposed to be revised RENAME TO # the name of table ;
9) . ALTER TABLE #the name of table 
     ADD COLUME #name type
    
10) . ALTER TABLE #the name of table
      RENAME COLUMN #name TO #name
11) INSET INTO #the name of table ( key)
    VALUES(value)
12) SELECT *from #the name ot table

# Assignment

.open housekeeping-book.db
sqlite> create table (
   ...> date,
   ...> );
Error: near "(": syntax error
sqlite> .databases
main: C:\Users\minji hong\Documents\dses\sqlite-tools-win32-x86-3260000\housekeeping-book.db
sqlite> .tables
sqlite> CREATE TABLE minji(
   ...> date INTEGER,
   ...> description TEXT,
   ...> category TEXT,
   ...> values INTEGER
   ...> );
Error: near "values": syntax error
sqlite> .tables
sqlite> .table
sqlite> CREATE TABLE minji(
   ...> date integer,
   ...> description text,
   ...> category text,
   ...> values integer,
   ...> );
Error: near "values": syntax error
sqlite> CREATE TABLE minji(
   ...> date integer,
   ...> description text,
   ...> category text,
   ...> value integer,
   ...> );
Error: near ")": syntax error
sqlite> CREATE TABLE minji (
   ...> date integer,
   ...> description text,
   ...> category text,
   ...> value integer);
sqlite> .table
minji
sqlite> .schema
CREATE TABLE minji (
date integer,
description text,
category text,
value integer);
sqlite> INSERT INTO minji (
   ...> date,description,category,value)
   ...> VALUES(190101,"taxi","transport",10000),
   ...> (190102,"subway","transport",3000),
   ...> (190103,"airport","transport",200000),
   ...> (190104,"lotteria","eating",15000);
sqlite> SELECT *from minji;\
   ...> );
190101|taxi|transport|10000
190102|subway|transport|3000
190103|airport|transport|200000
190104|lotteria|eating|15000
Error: unrecognized token: "\"
sqlite> SELECT date,description from minji;
190101|taxi
190102|subway
190103|airport
190104|lotteria