In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns=None

미국 인구 데이터

In [3]:
state_pop_dataset = pd.read_csv('state-population.csv')
state_pop_dataset.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

미국 살인기록 데이터

In [4]:
dataset = pd.read_csv('murders.csv')
dataset.head()

        state abb region  population  total
0     Alabama  AL  South     4779736    135
1      Alaska  AK   West      710231     19
2     Arizona  AZ   West     6392017    232
3    Arkansas  AR  South     2915918     93
4  California  CA   West    37253956   1257

In [5]:
# German credit data를 살펴보자.
german_dataset = pd.read_csv('german_credit_dataset.csv',  index_col=0)

In [6]:
# 데이터에는 돈을 갚을 능력(Good/Bad)에 대한 데이터가 없다. 
# 따라서 해당 data를 concat 하도록 하겠다.

# Label 만 가지고 온다.
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data'
dataset = pd.read_csv(path, delimiter=' ', header=None)

# 데이터를 concat
german_dataset_final = pd.concat([german_dataset, dataset.iloc[:,-1] - 1], axis=1)

# 컬럼 이름 변경
german_dataset_final.columns.values[-1] = 'Risk'

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [8]:
german_dataset.head()

,account.balance,credit.duration.months,previous.credit.payment.status,credit.purpose,credit.amount,savings,employment.duration,installment.rate,marital.status,guarantor,residence.duration,current.assets,age,other.credits,apartment.type,bank.credits,occupation,dependents,telephone,foreign.worker
credit.rating,,,,,,,,,,,,,,,,,,,,
1,1,18,4,2,1049,1,2,4,2,1,4,2,21,3,1,1,3,1,1,1
1,1,9,4,0,2799,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
1,2,12,2,9,841,2,4,2,2,1,4,1,23,3,1,1,2,1,1,1
1,1,12,4,0,2122,1,3,3,3,1,2,1,39,3,1,2,2,2,1,2
1,1,12,4,0,2171,1,3,4,3,1,4,2,38,1,2,2,2,1,1,2

In [7]:
housing_data = pd.read_csv('housing.csv')
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

빅데이터 시대가 되면서 더 이상 표본 추출(표집, 샘플링)이 필요 없을 없을 거라는 오해
데이터의 질과 적합성을 일정 수준 이상으로 담보할 수 없으면서 데이터 크기만 늘어나는 것이 오늘날 상황
오히려, 다양한 데이터를 효과적으로 다루고 데이터 편향을 최소화하기 위한 방법으로 표본 추출의 필요성이 더 커진다.
전통적인 통계학에서는 강력한 가정에 기초한 이론을 통해 모집단을 밝혀내는 데 초점.
현대 통계학에서는 이러한 가정이 더 이상 필요하지 않은, 즉 효과적인 표본 추출에 대한 연구로 방향이 옮겨지기 시작.
데이터 과학자들은 이론적 측면에 대해 걱정하기 보다, 표본 추출 과정과 주어진 데이터에 집중할 필요가 있다.

# 1. Random Sampling and Sample Bias

**sample(표본)
**population(모집단)
**N
**n
**Random Sampling
**Stratified sampling(층화표본추출): 모집단을 층으로 나눈 뒤, 각 층에서 무작위로 표본을 추출하는 것 -> important
**단순랜덤표본: 모집단 층화(stratified) 없이 랜덤표본추출로 얻은 표본
**표본편향:모집단을 잘못 대표하는(misrepresents) 표모집단을 잘 못 설정하면 표본 편향 발생 (대표적인 예가 리뷰)

# 2. Sampling Distribution of Statistics
**용어정리

Sample statistic(표본통계량) : 더 큰 모집단에서 추출된 표본(a sample) 데이터들로부터 얻은 측정 지표 (예를 들어, 표본평균)
Data distribution(데이터 분포) : 어떤 데이터 집합에서의 각 개별 값의 도수분포(1이 몇번 등장했고 2가 몇번 등장했고)
Sampling distribution(표본분포) : 여러 표본들(samples) 혹은 재표본(resamples)들로부터 얻은 표본통계량의 도수분포_모집단이 있을 때, 그 모집단에서 샘플 두개를 뽑았을 때, 그 두 샘플을 해당 모집단의 모 평균과 비슷할 것 그러나 이것들을 추출하다 보면 엑스 바에 대한 분포가 나올 것.
Central limit theorem(중심극한정리) : 표본크기가 커질수록 표본분포가 정규분포를 따르는 경향_표본 샘플이 많아 지면 많아 질수록 표본 평균의 분포가 정규분포를 따른다._ 수리 통계학에서 굉장히 중요한 개념이나 데이터 과학에서는 그렇게 중요하지는 않다.
Standard error(표준오차) : 여러 표본들(samples)로부터 얻은 표본통계량의 변량(개별 데이터 값들의 변량을 뜻하는 표준편차와 다름)
일반적으로 우리는 측정 및 통계 or 머신러닝 모델링을 위해 표본을 추출한다. 표본을 통한 추정이나 모델링은 오류가 있다. 다른 표본을 추출했다면 결과가 다를 수 있다. 과연 결과가 얼마나 달라졌을까에 대한 관심사가 sampling variability(표본의 변동성)이다.
내가 샘플링을 했는데, 내가 첫번째 샘플링 한거랑 두번째 샘플링 한게 다르면 그건 잘못 된 샘플링임! -> 내가 한 샘플림이 신뢰할 수 없는 것 -> 따라서 베리에이션이 기준치가 될 때 까지 계속하게 됨 ->중요한 것은 표본의 변동성

우리가 많은 양의 데이터를 가지고 있다면 추가로 표본을 얻어서 통계의 분포를 직접 관찰할 수 있다. 하지만 보통은 이미 최대한 많은 데이터를 사용하여 추정치 또는 모델을 계산했을 것이므로, 모집단에서 추가 표본을 얻는 옵션은 쉽게 이용할 수 없다. 표본의 변동성을 확인하는 것은 결국 표본통계량의 분포를 살펴보는 것이다.

대표적인 표본통계량인 표본평균의 분포는, 특히나 표본의 크기가 커질수록, 데이터 자체의 분포보다 규칙적이고 종 모양일 가능성(정규분포일 가능성)이 높다. (물론 중심극한정리를 알기에 받아들이는 사실이지만 직관적으로도 그렇다.)

표본의 크기가 커지면 커질수록 거기에서 얻어지는 표본 통계량(미디언 등) 분포는 정규 분포를 이룬다! -> 이게 중심극한 정리!!!!!!

** 중요한 것은 샘플링이다!

In [ ]:
import matplotlib as mpl
plt.rcParams["figure.figsize"] = (10,20)

In [ ]:
# 1. 전체 표본에 대한 분포
ax1 = plt.subplot(411)_4개의 행을 그리고 한 개의 열을 가진 그림판을 그릴 것이야
sns.distplot(housing_data['median_house_value'])_ 이걸 플로팅 할 것. 정규 분포 한지 확인 하기 위해서
plt.title('Dataset')

# 2. 데이터를 5개씩 추출해서 표본을 만들고, 표본평균을 구한다. 즉, 표본의 크기는 5이다. 이 과정을 1000번 반복한다. 
sample_5 = [] # making the list for containing 표본평균
for _ in range(1000):
    sample_5.append(housing_data.median_house_value.sample(5).mean())
ax2 = plt.subplot(412, sharex = ax1)
sns.distplot(sample_5)
plt.title('Sample mean of 5 data points : 1000 samples')

# 3. 데이터를 20개씩 추출해서 표본을 만들고, 표본평균을 구한다. 즉, 표본의 크기는 20이다. 이 과정을 1000번 반복한다.
sample_20 = []# making the list for containing 표본평균
for _ in range(1000):
    sample_20.append(housing_data.median_house_value.sample(20).mean()) 
ax3 = plt.subplot(413, sharex = ax1)
sns.distplot(sample_20)
plt.title('Sample mean of 20 data points : 1000 samples')

# 4. 데이터를 100개씩 추출해서 표본을 만들고, 표본평균을 구한다. 즉, 표본의 크기는 100이다. 이 과정을 1000번 반복한다.
sample_100 = []
for _ in range(1000):
    sample_100.append(housing_data.median_house_value.sample(100).mean())
ax4 = plt.subplot(414, sharex = ax1)
sns.distplot(sample_100)
plt.title('Sample mean of 100 data points : 1000 samples')

In [ ]:
ax1 = plt.subplot(411)
sns.distplot(housing_data['median_house_value'])
plt.title('Dataset')

In [ ]:
sample_5 = [] # making the list for containing 표본평균
for _ in range(1000):
    sample_5.append(housing_data.median_house_value.sample(5).mean())
ax2 = plt.subplot(412, sharex = ax1)#총 4개의 행을 그릴 것된, 쉐렉스 의미는 엑스 축을 공동으로 가질 거야라는 의미임
sns.distplot(sample_5)
plt.title('Sample mean of 5 data points : 1000 samples')

In [ ]:
sample_20 = []# making the list for containing 표본평균
for _ in range(1000):
    sample_20.append(housing_data.median_house_value.sample(20).mean()) 
ax3 = plt.subplot(413, sharex = ax1)
sns.distplot(sample_20)
plt.title('Sample mean of 20 data points : 1000 samples')

In [ ]:
# 4. 데이터를 100개씩 추출해서 표본을 만들고, 표본평균을 구한다. 즉, 표본의 크기는 100이다. 이 과정을 1000번 반복한다.
sample_100 = []
for _ in range(1000):
    sample_100.append(housing_data.median_house_value.sample(100).mean())# calling mean value
ax4 = plt.subplot(414, sharex = ax1)#plotting
sns.distplot(sample_100)
plt.title('Sample mean of 100 data points : 1000 samples')

-> 이게 중심 극한 정리 임!!!!!

# 3. Bootstrap

표본 분포는 표본에서 추출한 표본 평균들 간의 분포다.
부트 스트랩의 방법은 현재 있는 표본에서 추가적으로 표본을 복원추출하고 각 표본에 대한 통계량과 모델을 다시 계산하는 것

표본이 100개 있으면 여기에서 복원(겹쳐져도 된다) 추출을 계속 하는 것 
복원 추출을 n개 하는 경우-> s1
복원 추축을 n +1 개 하는 경우 ->s2
-- s1, s2…… 이걸 미디언, 평균 하는 것 

철학 : 표본을 많이 복제하고(수천, 수백만 번) 이를 통해 원래 표본으로부터 얻어지는 모든 정보를 포함하는 가상 모집단을 얻게 된다고 가정할 수 있음

리 샘플링 -> (밑에) 부트 스트랩_복원 추출, 셔플링(permitation)_순서 신경 쓰지 않음 (이 있음)


Bootstrap sample(부트스트랩 표본) : 관측 데이터 집합으로부터 얻은 복원추출 표본
Resampling(재표본추출, 리샘플링) : 관측 데이터로부터 반복해서 표본추출하는 과정이며, bootstrap과 shuffling(순열) 과정을 포함

***횟수는 스탠다드 에러(표본 들간의 변동성이 작아야함)가 가장 작은 횟수를 찾을 것임!
최종 목표는 베리에이션이 가장 작은 것을 찾는 것!

#  (예제) Bootstrap을 이용하여 미국 인구의 median을 추정하라

In [ ]:
state_pop_dataset.head()

In [ ]:
state_pop_dataset.population.median()

In [ ]:
state_pop_dataset.population.sample(100, replace=True).median()

In [ ]:
state_pop_dataset.population.sample(100, replace=True).median()

In [ ]:
# (미국 인구 데이터) 부트스트랩 분포  1. sampling -> finding out 'mean'
state_pop_sample_meds = []
# 100개의 data가 1개의 sample set이다. 총 500번 반복
for _ in range(500):
    samp_med = state_pop_dataset.population.sample(100, replace=True).median()
    state_pop_sample_meds.append(samp_med)
#replace=True is 복원 추출

In [ ]:
print('bootstrap median :', np.mean(state_pop_sample_meds))
print('bootstrap median의 표준오차(변동성) :', np.std(state_pop_sample_meds))

## 부트 스트랩 미디언의 중간 값이 얼마만큼 변동성이 있는 지 확인 하는 것은 스탠다드 밸류 데이션이 표준 오차
( 베리에이션임)
미디언 값들의 전체 분포를 사용하는 것. 그리고 스탠다느 베리에이션을 이용해서 얼마나 퍼져있는 지를 확인 하는 것!

#부트 스트랩은 샘플링을 하는 것이 아니라 표본 값들의 변동성을 확인 하는 것 ( 표본 값들이 얼마나 퍼져있는지 확인해주는 것이 부트 스트랩임_ 부트 스트랩은 변동성을 확인 하는 도구임. 그러나 부트 스트랩으로 샘플링을 하는 것이 목적은 아님!)

# 4. 신뢰구간(신뢰 구간 검정_부트 스트랩의 결과를 사용한다!)




분포를 구한 후에 신뢰 구간(샘플 스탯이 어느 구간에 있는 경우 그 샘플을 신뢰 할 만 하다!)을 구해야함!


(예제) 캘리포니아 지역의 평균 집 값에 대한 90% 신뢰구간을 부트스트랩을 이용하여 구하라.

In [ ]:
# Housing data
house_prices=[]
for _ in range(500):
    mean_price =housing_data.median_house_value.sample(100, replace= True).mean()
    house_prices.append(mean_price)

In [ ]:
plt.rcParams["figure.figsize"] = (6, 6)
sns.distplot(house_prices, kde=False)

#90 프로의 신뢰도로 샘플 민이 있을 수 있는 구간!

In [ ]:
# 90 %
ci_min = np.percentile(house_prices,5)
ci_max = np.percetile(house_prices,95)

print('90% CI lower:', ci_min)
print('90% CI upper:', ci_max)

(예제) 미국 지역별 살인 발생 횟수의 평균에 대한 90% 신뢰구간을 부트스트랩을 이용하여 구하라.

In [ ]:

how_many_murders=[]
for _ in range(500):
    mean_murders =dataset.sample(100, replace= True).mean()
    how_many_murders.append(mean_murders)

In [ ]:

sns.distplot(how_many_murders, kde=False)

5. 정규분포

 실제로 전형적인 데이터 과학 프로젝트에서 사용되는 대부분의 변수들, 실제 대부분의 원시 데이터는 전체적으로 정규분포를 따르지 않는다.
 
 
 표준정규분포는 x축의 단위가 평균의 표준편차로 표현되는 정규분포를 말한다. 데이터를 표준정규분포와 비교하려면 데이터에서 평균을 뺀 다음 표준편차로 나누면 된다. 이를 정규화(normalization) 또는 표준화(standardization)라고 한다. 이렇게 변환된 값을 z점수라고 하며, 정규분포를 z분포라고도 한다.
 
표준화는 스케일링 수단임.

6. 긴 꼬리 분포

실무에서는 long tail 분포를 잘 들여다보는 것이 중요하다.
setting threadhold, categorizing by the threadhold


일반적으로 주어진 상황을 묘사하기에 적합한 분포 유형을 결정하기 위해서, 데이터만 들여다 보는것이 아니라, 분야 지식과 통계 지식을 모두 활용해야 한다.
예) 5초마다 연속적으로 서버의 인터넷 트래픽 수준에 대한 데이터를 얻는다고 할 때 적합한 분포 유형은? '시간 주기별 이벤트'를 모델링하는 데 가장 적합한 분포가 포아송 분포라는 사전 지식이 있다면 큰 도움이 된다. **********

7. 스튜던트의 t분포

표본 들의 분포 / 자유도가 중요함 / 정규 분포 보다  robust/ 

사실, 지금과 같은 성능의 컴퓨터가 1908년(t분포 논문이 나왔던 시기)부터 널리 보급됐다면, 처음부터 통계학은 계산을 많이 필요로 하는 resampling 방법을 더 많이 이용했을 것이다. 컴퓨터가 없었던 시절, 통계학자들은 표본분포를 근사화하기 위한 수학적 기법과 t분포와 같은 함수로 눈을 돌렸다.

표본통계량의 상태를 묘사할 때 t 분포의 정확도는 표본에 대한 통계량의 분포가 정규분포를 따른다는 조건을 필요로 한다. 모집단이 정규분포를 따르지 않을 때조차도, 표본통계량은 보통 정규분포를 따르는 것으로 나타났다. (t 분포가 널리 적용되는 이유이며 이런 현상을 중심극한정리라고 부른다.)


데이터 과학자에게는 불확실성과 변동성을 이해하고 정량화하는 것이 중요하다

(가설 검정 하려면 부트스트랩을 사용하는 게 good)

9.2. 지수분포

메시지 한번 보내고 rm 다음 메세지를 보내는 ep Rkwl  걸리는 시간

데이터를 모델링 하는 방법은  부트 스트랩을 반복해서 최대값, 최소값을 찾아냄 그러나 보통의  경우  what  사건에  what 분포를 사용하는 지 사전 지식이 필요함.