# Combination of Dataset

* 7.1 combination of Data
   * pandas.merge
   * pandas.concat
   * combine_first
   
* From DSES2
    * There are two way of combining the data set : Concat and Append
:from connecting two diffrent data simply to dealing with duplication between data,
 complicated database style can be used through pandas.
 'series' and 'data frame' would be created from this aspect.
 
* for your reference: 'data wrangling' and 'data munging' is the process of converting or mapping from raw data to the other.

In [1]:
import pandas as pd
import numpy as np

* Connecting the data through 'pd.concat'
    by using the object of 'series"

In [2]:
ser1= pd.Series(['A','B','C'],index=[1,2,3])
ser1

1    A
2    B
3    C
dtype: object

In [3]:
ser2= pd.Series(['D','E','F'],index=[4,5,6])
ser2

4    D
5    E
6    F
dtype: object

In [4]:
print(pd.concat([ser1,ser2]))

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [5]:
def make_df(cols,rows):
    data={c:[str(c)+str(i)for i in rows]for c in cols}
    return pd.DataFrame(data,rows)

make_df('ABC',range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [6]:
df1= make_df('AB',[1,2])
df2=make_df('AB',[3,4])

display(df1)
display(df2)

display(pd.concat([df1,df2]))

    A   B
1  A1  B1
2  A2  B2

    A   B
3  A3  B3
4  A4  B4

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [7]:
df3 = make_df('AB',[0,1])
df4 = make_df('CD',[0,1])

display(df3)
display(df4)

display(pd.concat([df3,df4],axis=0))
display(pd.concat([df3,df4],axis=1))

    A   B
0  A0  B0
1  A1  B1

    C   D
0  C0  D0
1  C1  D1

c:\python37-32\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

** duplication of index

*the meaningful difference between 'np.concatenate' and'pd.concat' is make the index same as first in case of copying the data by 'Pandas'

In [8]:
x = make_df('AB',[0,1])
y = make_df('AB',[2,3])

# creating duplicated index
y.index = x.index

display(x)
display(y)

display(x.index)
display(y.index)

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

Int64Index([0, 1], dtype='int64')

Int64Index([0, 1], dtype='int64')

In [9]:
# index could be duplicated to be copied.
concated_df = pd.concat([x,y])
display(concated_df)
concated_df.shape

    A   B
0  A0  B0
1  A1  B1
0  A2  B2
1  A3  B3

(4, 2)

In [10]:
# existing index could be maintained
# how to prevent to duplicating the index even though concatiating.
display(concated_df.iloc[0])
display(concated_df.iloc[2])

A    A0
B    B0
Name: 0, dtype: object

A    A2
B    B2
Name: 0, dtype: object

In [11]:
# 1. dealing with duplicate as error

try:
    pd.concat([x,y], verify_integrity = True)
except ValueError as e:
    print('ValueError:', e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [14]:
# 2. ignoring index
display(x)
display(y)

display(pd.concat([x,y],ignore_index= True))

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [15]:
# 3. adding the multiple index key

display(x)
display(y)

display(pd.concat([x,y],keys=['a','b']))

    A   B
0  A0  B0
1  A1  B1

    A   B
0  A2  B2
1  A3  B3

      A   B
a 0  A0  B0
  1  A1  B1
b 0  A2  B2
  1  A3  B3

In [16]:
new_row_key = pd.concat([x,y],axis=0,keys=['a','b'])
display(new_row_key)

      A   B
a 0  A0  B0
  1  A1  B1
b 0  A2  B2
  1  A3  B3

In [17]:
new_row_key_2 = pd.concat([x,y],axis=1,keys=['c','d'])
new_row_key_2

    c       d
    A   B   A   B
0  A0  B0  A2  B2
1  A1  B1  A3  B3

In [18]:
display(new_row_key.loc[('a',0),"A"])
display(new_row_key.loc[('a',0)])
new_row_key.iloc[3,1]

'A0'

A    A0
B    B0
Name: (a, 0), dtype: object

'B3'

* connection using 'Concat' and 'Join'

In [19]:
# defualt is 'outer join'
df5 = make_df('ABC',[1,2])
df6 = make_df('BCD',[1,2])

display(df5)
display(df6)

    A   B   C
1  A1  B1  C1
2  A2  B2  C2

    B   C   D
1  B1  C1  D1
2  B2  C2  D2

In [22]:
display(pd.concat([df5,df6]))

c:\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
1  NaN  B1  C1   D1
2  NaN  B2  C2   D2

In [23]:
display(pd.concat([df5,df6],join='inner'))

    B   C
1  B1  C1
2  B2  C2
1  B1  C1
2  B2  C2

In [24]:
pd.concat([df5,df6],join_axes=[df5.columns])

     A   B   C
1   A1  B1  C1
2   A2  B2  C2
1  NaN  B1  C1
2  NaN  B2  C2

**append method
 * there is new index for combinated data not changing the   original object.
 * it can't be the efficient way due to creating new index and the data buffer

In [25]:
display(df1)
display(df2)

    A   B
1  A1  B1
2  A2  B2

    A   B
3  A3  B3
4  A4  B4

In [26]:
display(df1.append(df2))

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4