In [1]:
import pandas as pd
import numpy as np

# Dataframe Indexing

* Indexing is extracting the specific data from dataframe.
* Pandas could provide the attributes like below in order to assist with second      dimentional indexing ( row index, column index)

  * loc: second dimentional indexing based on the value of label
  * iloc: second dimentional indexing based on integer presenting orders.
  *  at  : second dimentional indexing based on the value of label ( one scalar)
  * iat :second dimentional indexing based on integer presenting orders ( one scalar)

**loc indexing: second dimentional indexing based on the value of label

In [4]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4), index=['a','b','c'],columns=['A','B','C','D'])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [5]:
df.loc['a',"A"]

10

In [6]:
df.loc['b':,'A']

b    14
c    18
Name: A, dtype: int32

In [7]:
df[:1]

    A   B   C   D
a  10  11  12  13

**iloc: second dimentional indexing based on integer presenting orders
 contrary to 'loc' indexer, the index typed 'integer' can be activated.

In [10]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [8]:
df.iloc[0,1]

11

In [9]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32

In [11]:
df.iloc[0,-2:]

C    12
D    13
Name: a, dtype: int32

In [12]:
df.iloc[2:3,1:3]

    B   C
c  19  20

In [13]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [14]:
df.iloc[-1]=df.iloc[-1]*2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42