# create emotion classfier using Naive Bayes

* 0: negative
* 1 : positive

In [1]:
import pandas as pd

In [2]:
reviews =pd.read_csv("ratings_train.txt",delimiter='\t')

In [3]:
reviews.head(10)

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
5   5403919      막 걸음마 뗀 3세부터 초등학교 1학년생인 8살용영화.ㅋㅋㅋ...별반개도 아까움.      0
6   7797314                              원작의 긴장감을 제대로 살려내지못했다.      0
7   9443947  별 반개도 아깝다 욕나온다 이응경 길용우 연기생활이몇년인지..정말 발로해도 그것보단...      0
8   7156791                             액션이 없는데도 재미 있는 몇안되는 영화      1
9   5912145      왜케 평점이 낮은건데? 꽤 볼만한데.. 헐리우드식 화려함에만 너무 길들여져 있나?      1

In [4]:
neg = reviews[(reviews.document.str.len() >= 30) & (reviews.label == 0)].sample(3000, random_state=43)
pos = reviews[(reviews.document.str.len() >= 30) & (reviews.label == 1)].sample(3000, random_state=43)
# str -> can be access to column of document

In [6]:
"""
import re
import konlpy
from konlpy.tag import Twitter # normal one is twitter

okt = Twitter()

"""

ModuleNotFoundError: No module named 'konlpy'

In [ ]:
"""
def parse(s):
    s= re.sub(r''[?$.!,-_\'\"(){}~]+', '', s)
    try:
        return okt.nouns(s)
    except:
        return[]
"""

In [ ]:
"""
neg['parsed_doc'] = neg.document.apply(parse)
pos['parsed_doc'] = pos.document.apply(parse)
"""

In [7]:
neg_test =pd.read_csv("neg.cvs",delimiter='\t')

In [8]:
neg_test.head()

# in case of 'NLP', pre-processing of data is most important thing

,Unnamed: 0,id,document,label,parsed_doc
0,149713,6674102,정말 댓글에 속아서 보게된 시간 아까운 영화. 전체적으로 코믹적인 요소를 많이 넣으...,0,"['정말', '댓글', '속', '시간', '영화', '전체', '코믹', '요소'..."
1,52541,8514375,점수를 줘야 하는거임? 30년후 구구절절 설명하며 끝나는모습 이라니...,0,"['점수', '임', '년후', '절절', '설명', '모습']"
2,72078,1173600,주제는 좋으나 영화 자체는 주제를 포함하기엔 좀 조잡하다,0,"['주제', '영화', '자체', '주제', '포함', '좀']"
3,19403,8384839,"이걸 영화라고 만들다니...말그대로 '돈만 떡으로 바르고 여운의 감동, 의미는 없는...",0,"['걸', '영화', '그대로', '돈', '떡', '여운', '감동', '의미',..."
4,106111,8997490,"과장되고 어설픈 연기에 인류의 보편적 정서와는 거리가 먼 일본식 정서간의 괴리감, ...",0,"['과장', '연기', '인류', '보편', '정서', '거리', '일본', '정서..."

In [10]:
pos.head()

              id                                           document  label
148005   8918849                   마지막에 눈물이 흐를뻔... 너무 감동적이고 재미있는 영화      1
41010    9304354   오! 평점 높네요. 저도 진짜 좋아하는 영화에요. 소소한 일상의 반전. 아즈키판다 짱!      1
97924    9324301  전 아프리카 구호 활동중 에볼라에 걸려 눈을 감는 순간 누군가 틀어준 이 영화를 보...      1
68271   10274621  전작을 본적이 없는데도 너무 재미있게 봤습니다. 크리스 에반스와 사무엘 L.잭슨의 ...      1
41106    9908746  신선하고 환경파괴에대해서 자연과 인간의 공존 전쟁 등등 많은 교훈을 주는 애니메이션...      1

In [ ]:
neg_train = neg[:2900]
pos_train = pos[:2900]
neg_test = neg[2900:]
pos_test = pos[2900:]

# 2. creating 'Corpus'