# Pandas

the new package based on Numpy
providing the data frame which is good at framing the data efficiently.
data frame is the multi dimensional array attached row & column lable.
they can give a various types of data and be allowed to omit data.

# Pandas object
not the index for integer 
advanced version named 'lable'
the basic dataframe 1) Series 2)DataFrame 3)Index

In [1]:
#import Numpy and Pandas
import numpy as np
import pandas as pd

# Pandas Series Obeject
the first dimensional array for indexed data

In [2]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
# access to the values of Series
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
# access to the value of Series using index
data[1]

0.5

# generalized Numpy Array
at the Numpy array, there is the integer index for accessing to the data, which is gotten used unanimously.
there is defined index conected to value at pandas series

In [5]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

# specialized dictionary
딕셔너리는 일련의 임의의 값에 임의의 키를 매핑하는 구조
series는 타입이 지정된 키를 일련의 타입이 지정된 값에 매핑하는 구조

In [8]:
population_dict ={'california': 38332521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}

# inserting the dictionary as the creater of series

population = pd.Series(population_dict)

population

california    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population[1]

26448193

# creating series object

In [13]:
#data can be list or numpy array in that case, the integer could be set as index
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [14]:
# data could be repeated scalar value in order to fill in the specific index
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [15]:
# if the data is dictionary, in that case, the index could be gotten by ranging the kies of dictionary
pd.Series({2:'a',1:'b',3:'c'},index=[3,2])

3    c
2    a
dtype: object

# the object of pandas dataframe

generalized numpy array

In [16]:
area_dict ={'california': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}

area = pd.Series(area_dict)
area

california    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [18]:
population_dict ={'california': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
population =pd.Series(population_dict)
population

california    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [20]:
population[1]

695662

In [21]:
# Series 객체 2개를 이용하여 DataFrame을 생성한다. key는 'population', 'area'가 되며 열 인덱스가 된다.
# 두 개의 Series가 공통으로 가지고 있던 key 이름이 행 인덱스가 된다.

states =pd.DataFrame({'population': population,'area':area})
states

            population    area
california      423967  423967
Texas           695662  695662
New York        141297  141297
Florida         170312  170312
Illinois        149995  149995

In [22]:
# access to the index lable
states.index

Index(['california', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [23]:
# access to the coloumn lable
states.columns

Index(['population', 'area'], dtype='object')

# specialized dictionary
the name of column could be mapped to the series which is consist of the coloumn data

In [24]:
states["area"]

california    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

#framing the object of dataframe

In [25]:
#constituting the object of sole Series
pd.DataFrame(population,columns=['population'])

            population
california      423967
Texas           695662
New York        141297
Florida         170312
Illinois        149995

In [26]:
states["population"]

california    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: population, dtype: int64

In [27]:
# composing the list of dictionary

data =[{'a':i, 'b': 2*i} for i in range(3)]
display(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [28]:
pd.Series(data)

0    {'a': 0, 'b': 0}
1    {'a': 1, 'b': 2}
2    {'a': 2, 'b': 4}
dtype: object

In [29]:
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [31]:
# composing the dictionary

data ={'a':[1,2,3],'b':[4,5,6]}
display(data)


pd.Series(data)

{'a': [1, 2, 3], 'b': [4, 5, 6]}

a    [1, 2, 3]
b    [4, 5, 6]
dtype: object

In [32]:
pd.DataFrame(data)

   a  b
0  1  4
1  2  5
2  3  6

In [33]:
# composing the Series object at dictionary

print(type(population))
print(type(area))

pd.DataFrame({'population':population,'area':area})

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

            population    area
california      423967  423967
Texas           695662  695662
New York        141297  141297
Florida         170312  170312
Illinois        149995  149995

In [34]:
# composing the systemized array ---???

a= np.zeros(3,dtype=[('A','i8'),('B','f8')])
display(a)

pd.DataFrame(a)

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [35]:
# 딕셔너리의 일부 키가 누락되더라도 Padnas는 NaN 값으로 채운다. (Not A Number)

pd.DataFrame([{'a':1,"b":2},{'b':2,"c":3}])

     a  b    c
0  1.0  2  NaN
1  NaN  2  3.0

# the object of pandas index

unchangeble array

In [38]:
idx=pd.index([2,3,5,7,11])
idx

AttributeError: module 'pandas' has no attribute 'index'

In [ ]:
display(idx[1])
display(idx[:2]) # slicing

In [ ]:
# familiar attribution for Numpy array
display(idx,size)
display(idx,shape)
display(idx,ndim)
display(idx,dtype)

In [ ]:
# it can't be changed in general way which means it can be immutable
idx[1]=0

# arrayed assemble
it can be followed to the set dataframe in the python

In [39]:
idx_A =pd.index([1,3,5,7,9])
idx_B=pd.index([2,3,5,7,11])

#intersection
display(idx_A & idx_B)
display(idx_A | IDX_B)
display(idx_A^idx_B)

AttributeError: module 'pandas' has no attribute 'index'