In [ ]:
import sqlite3 as lite
import pandas as pd

In [ ]:

db = lite.connect('./products.db')

In [ ]:
query = """
SELECT *
FROM Orders;
"""

pd.read_sql(query,db).head()

In [ ]:
query = """
SELECT sql
FROM sqlite_master
;
"""
pd.read_sql(query, db)

In [ ]:
#Orders
# OrderID => OrderDetails
# CustomerID => Customers
# EmployeeID => Employees
# ShipperID => Shippers

query = """
SELECT * 
FROM 
    Orders O
    JOIN
        OrderDetails D
    ON
        O.OrderID = D.OrderID
    JOIN
        Customers C
    ON
        O.CustomerID = C.CustomerID
    JOIN
        Employees E
    ON
        O.EmployeeID = E.EmployeeID
    JOIN
        Shippers S
    ON
        O.ShipperID = S.ShipperID
    
;
"""
len(pd.read_sql(query,db))

In [ ]:
pd.options.display.max_colwidth = 200

In [ ]:

query = """
SELECT *
FROM OrderDetails
WHERE
    Quantity >=40
;
"""
pd.read_sql(query,db).head()

In [ ]:

query="""
SELECT *
FROM Orders
;
"""
pd.read_sql(query,db).head()

In [ ]:
query = """
SELECT *
FROM Orders
WHERE
    OrderID IN (
        SELECT OrderID
        FROM OrderDetails
        WHERE
            Quantity >=40
    )
;
"""
pd.read_sql(query,db).head()

In [ ]:
query = """
SELECT *
FROM
    Customers
;
"""
pd.read_sql(query,db).head()

In [ ]:

query = """
SELECT CustomerID
FROM
    Customers
WHERE
    CustomerName LIKE '%Ernst%'
    OR
    CustomerName LIKE '%Stop%'
;
"""
pd.read_sql(query,db).head()

In [ ]:
query = """
SELECT *
FROM 
    Orders
WHERE
    OrderID IN (
        SELECT OrderID
        FROM 
            OrderDetails
        WHERE
            Quantity >=40
    )
    AND
    CustomerID IN(
        SELECT CustomerID
        FROM
            Customers
        WHERE
            CustomerName LIKE '%Ernst%'
            OR
            CustomerName LIKE '%Stop%'
    )
    
;
"""
pd.read_sql(query,db).head()
# End of Subject

In [ ]:

query = """
SELECT *
FROM Products
;
"""
products_df = pd.read_sql(query,db)

In [ ]:
products_df.sort_values('ProductName').head()

In [ ]:
products_df.sort_values('ProductName', ascending=False).head()

In [ ]:
query = """
SELECT *
FROM Products
    ORDER BY ProductName
;
"""
pd.read_sql(query,db).head()

In [ ]:

query = """
SELECT *
FROM Products
    ORDER BY ProductName DESC
;
"""
pd.read_sql(query,db).head()

In [ ]:
query="""
SELECT name, sql
From sqlite_master
;
"""
pd.read_sql(query,db)

In [ ]:
query = """
SELECT *
FROM OrderDetails
;
"""
orderDetails_df = pd.read_sql(query,db)

In [1]:

orderDetails_df.merge(products_df, on="ProductID").head()

NameError: name 'orderDetails_df' is not defined

In [ ]:
pd.read_sql("SELECT * FROM Orders;", db).nunique()

In [ ]:
pd.read_sql("SELECT * FROM Customers;", db).nunique()

In [ ]:
query="""
SELECT *
FROM
    Customers, Orders
;
"""
len(pd.read_sql(query,db))

In [ ]:
query="""
SELECT C.CustomerID, C.CustomerName, O.CustomerID, O.OrderID
FROM 
    Orders O, Customers C
WHERE
    C.CustomerID = O.CustomerID
;
"""
pd.read_sql(query,db).head()

In [ ]:
query="""
SELECT C.CustomerID, C.CustomerName, O.CustomerID, O.OrderID
FROM Customers C
    JOIN
        Orders O
    ON
        C.CustomerID = O.CustomerID
;
"""
len(pd.read_sql(query,db))

In [ ]:
query="""
SELECT C.CustomerID, C.CustomerName, O.CustomerID, O.OrderID
FROM Customers C
    JOIN
        Orders O
;
"""
len(pd.read_sql(query,db))

In [ ]:

# 스크래핑 결과를 디비에 밀어넣기
for item in results:
    query="""
    INSERT INTO movies
    VALUES({id},{name},{url})
    ;
    """.format(id=item[0],name=item[1],url=item[2])
    pd.read_sql(query,db)

In [ ]:
query = """
SELECT sum(Price)
FROM
    Products;
"""
pd.read_sql(query,db)

In [ ]:

query = """
SELECT *
FROM
    Orders
;
"""
orders_df = pd.read_sql(query, db)
orders_df.head()

In [ ]:
date_group = orders_df.groupby("OrderDate")

In [ ]:
date_group.get_group("1996-07-08")

In [ ]:
orders_df["OrderDate"].unique()

In [ ]:

daily_order_count = pd.DataFrame([
    {
        "OrderDate":OrderDate,
        "Count": len(date_group.get_group(OrderDate))
    } for OrderDate in orders_df["OrderDate"].unique()
    
])
len(daily_order_count)

In [ ]:
query = """
SELECT OrderDate, count(*) "Count"
FROM
    Orders
    GROUP BY
        OrderDate
;
"""

pd.read_sql(query,db).head()