# review_basic

CREATE TABLE celebs (id INTEGER PRIMARY KEY,
                     name TEXT UNIQUE,
                     date_of_birth TEXT NOT NULL,
                     date_of_death TEXT DEFAULT'Not applicable');

CREATE TABLE friends (id INTEGER,name TEXT,birthday DATE)
INSERT INTO friends (id,name,birthday) VALUES (1,"Ororo Munroe", "1940-05-30");
SELECT * FROM friends;
INSERT INTO friends (id,name,birthday) VALUES ('2','HANS','1990-05-21');
INSERT INTO friends (id,name,birthday) VALUES
("3",'SALLY',"2020-07-25")
SELECT * FROM friends;
UPDATE friends SET name ="Storm" WHERE id = 1
ALTER TABLE friends
ADD COLUMN email TEXT
UPDATE friends SET email ="storm@codecademy.com" WHERE id = 1
DELETE FROM friends WHERE id = 1
SELECT * FROM friends;

'as' : as is a keyword in sql that allows you to rename a column or table using an alias. the new name can be anything you want as long as you put it inside of single quotes.

SELECT name AS 'titles'
FROM movies;

'distinct' : when we are examing data in a table, it can be helpful to know what distinct values exist in a particular column.
distinct is used to return unique values in the output. it filters out all duplicate values in the specified columns.

SELECT DISTINCT tool FROM inventory;

'WHERE': We can restrict our query results using the where cluase in order to obtain only the information we want.

following this format, the statement below filters the result set to only include top rated movies

SELECT * FROM movies WHERE imdb_rating >8;

'LIKE'-1: can be a useful operator when you want to compare similar values.
the movies table contains two films with similar titles, ‘Se7en’ and ‘Seven'

'LIKE'-2 : the percentage sign '%' is another wild card character that can be used with LIKE.
this statement below filters the result set to only include movies with names that begins with the letter'a':

'is null':
by this point of the lesson, you might have noticed that there are a few missing values in the movie table. more often than not, the data you encouter will have missing values.

unknown values are indicate by null.

it is not possible to test for null values with comparison operators, such as = and !=.

instead, we will have to use these operators:
is null
is not null

between:
between operator is used in a where clause to filter the result set within a certain range.
it accepts two values that are either numbers, text of dates.

order by:
it is often useful to list the date in our result set in a particular order.
we can sort the results using order by, either alphabetically or numerically.
sortign the results often makes the data more useful and easier to analyze.

limit:
it becomes importatn to cap the number of rows in the result.
limit is a clause that lets you specify the maximum number of rows the results set will have. this saves space on our screen and makes our queries run faster.

case:
a case statement allows us to create diffrent outputs(usually in the select statement).
it is sql's way of handling if then logic.

- if the rating is above 8, then it is fantastic
- if the rating is above 6, then it is poorly received
- else, avoid at all costs.